body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
    flex: none;
}

.header, .section {
    padding: 50px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
}

.header-links {
    display: flex;
    gap: 20px;
    flex:none;
    list-style: none;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
}

.header, .section.one, .footer {
    background-color: #1F2937;
}

.section {
    display: flex;
    justify-content: center;
}

.section.one {
    gap: 30px;
    justify-content: space-between;
}

.one .section-text {
    display: flex;
    width: 450px;
    flex: none;
    flex-direction: column;
    gap: 10px;
}

#sign-up {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100px;
}

.section.one .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.section.one .subtext {
    font-size: 18px;
    color: #E5E7EB
}

#sunset-img {
    height: 250px;
}

.section.two {
    display: flex;
    flex-direction: column;
}

.section.two .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px; 
    color: #1F2937
}

.cards {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-shape {
    border: 2px solid #3882F6;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.section.three {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    gap: 15px;
    padding: 50px 250px;
    align-items: center;
    flex-shrink: 0;
}

.quote {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    flex-shrink: 0;
    width: 390px;
}

.credit {
    font-weight: bold;
    text-align: end;
    width: 390px;
    flex-shrink: 0;
}

.section.four {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 200px;
    /* width: 800px; */
    padding: 40px;
    background-color:#3882F6;
    color: white;
    border-radius: 5px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.section.four .title {
    font-weight: 700;
    align-self: center;
}

.section.four .sign-up {
    background-color:#3882f6;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    flex: none;
}

.section.four .subtext {
    flex-shrink: 1;
}

.footer {
    color:  white;
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 13px;
}