body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-grow: 1;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
}

.content {
    display: flex;
    flex: 1 1 auto;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.header .content {
    gap: 20px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-weight: 700;
    font-size: 32px;
    margin-right: auto;
}

.section {
    display: flex;
    justify-content: center;
}

.one {
    background-color: #1F2937;
}

.one .text {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.one .main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.one .subtext {
    color: #E5E7EB;
    margin-bottom: 20px;
}

.one .content {
    display: flex;
    gap: 20px;
}

#main-img {
    width: 300px;
    border-radius: 2px;
}

.sign-up {
    background-color: #3882f6;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    color: #f9faf8;
    flex-grow: 0;
    width: 100px;
}

.cards {
    display: flex;
    gap: 30px;
}

.two .content {
    display: flex;
    flex-direction: column;
}

.card-shape {
    border-radius: 3px;
    border: 2px solid #3882f6;
    width: 100px;
    height: 150px;
}

.card-text {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.two .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1f2937;
}

.three {
    background-color: #E5E7EB;
    color: #1F2937;
}

.three .content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 30px;
}

.three .credit {
    font-weight: 600;
    align-self: flex-end;
}

.three .quote {
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
}

.four .content {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 30px;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 5px;
}

.four .sign-up {
    border: 2px solid #e5e7eb;
}

.four .title {
    font-weight: 600;
}

.four .subtext {
    font-size: 12px;
    font-weight: 200;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 15px 0;
}